:root {
    --primary-font: "Manrope";
    --primary-color: hsl(217, 19%, 35%);
    --secondary-color: hsl(214, 17%, 51%);
    --tertiary-color: hsl(212, 23%, 69%);
    --quaternary-color: hsl(210, 46%, 95%);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: var(--quaternary-color);
    font-family: var(--primary-font);
    height: 100vh;  
    /* width: 100vw; */
}

div.wrapper{
    height: inherit;
    /* padding:4rem; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.article-card{
    max-width: 700px;
    background-color: white;
    width: 700px;
    height: 270px;
    display:grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 0.625rem;
    
    /*box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05); */
}
.article-card .right{
    /* border-bottom-right-radius: 0.625rem; */
    /* border-top-right-radius: 0.625rem; */
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:1.8em;
    /* padding-left: -em; */
    padding-right: 2em;
    padding-left: 2.2em;
    
}
.article-card .left{
    background-image: url(../assets/images/drawers.jpg);
    /* background-position: left; */
    background-size: cover;
    width: 275px;
    /* background-position: left; */
    border-top-left-radius:0.625rem;
    border-bottom-left-radius:0.625rem;
}
.description{
    width: 350px;
}
.article-card .right .description span.title{
    color:var(--primary-color);
    width: inherit;
    font-weight: 700;
    font-size: 19px;
    display: block;
    margin-bottom: .5em;
}

div.description .cart-text{
    color: var(--secondary-color);
    font-weight: 500 !important;
    font-size: 13px;
}

div.author{
    display:grid;
    grid-template-columns: 1fr 5.9fr 1fr;
    margin-top: 1.5em;
    width: 100%;
    /* width: 350px; */
}

div.author .avatar{
    border-radius: 100%;
    width: 31px;
}

div.author .info .name{
    color:var(--primary-color);
    font-weight: 700;
    font-size: 13px;
    display: block;
    /* margin-bottom: 3em; */
}

div.author .info .date{
    font-size: 9px;
    display: block;
    color: var(--tertiary-color);
}

div.btn-area .share-info{
    display: none;
}

div.btn-area .share{
    margin-left:.5em;
    margin-top:0em;
    background-color: var(--quaternary-color);
    border:none;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    fill:var(--primary-color);
    outline-style: none;
}
.dark{
    background-color: var(--secondary-color) !important;
    fill: var(--quaternary-color) !important;
}
div.btn-area .share svg{
    padding-top:.2em
}

div.social-networks{
    background:var(--primary-color);
    display: none;
    grid-template-columns: 1fr;
    width: 220px;
    height: 55px;
    position: absolute;
    transform:translate(296px,16px);
    
    /* transform:translateY(-20px); */
    /* bottom: -21px; */
    border-radius: 10px;
    align-content: center;
    justify-items: center;  
}

.visible{
    display: grid !important;
}

/* .not-visible{
    display: none;
} */

div.social-networks:before{
        border-top: 15px solid var(--primary-color);
        border-bottom: 15px solid transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        content: '';
        display: block;
        position: absolute;
        width: 0;
        top: 49px;
        left: 93px;
}

div.social-netwroks .social-info{
    display:flex;
    flex-flow: row nowrap;
}

div.social-networks .social-info li{
    display: inline-block;
    margin: 0 .3em;
}
div.social-networks .social-info li a img{
    width: 1em;
    height: 1em;
}

div.social-networks .social-info > div{
    /* display: inline-block; */
}
div.social-networks .social-info > span{
    color:var(--tertiary-color);
    font-size: .6em;
    position:relative;
    bottom: .35em;
    margin-right: .5em;
    font-weight: 500;
    letter-spacing: .5em;
    display: inline-block;
}
/* This code is used when we are using an img tag inside div */
/* div.left img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
} */

@media screen and (max-width:450px){
    div.wrapper{
        height: 100vh;
        display:flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    .article-card{
        max-width: 300px;
        height: 500px;
        grid-template-columns: 1fr;
    }

    .article-card .right{
        /* flex-direction: row; */
        height: 300px;
        width: 100%;
        padding-left: 1.8em;
        padding-right: 1.8em;
    }
    .article-card .left{
        height: 200px;
        width: 300px;
        border-top-right-radius: 0.625rem;
        border-bottom-left-radius: 0;
    }
    .article-card .right .author{
        margin-top:30px;
    }
    .article-card .right .author .info{
        margin-left:15px;
    }
    .article-card .right .description{
        width: 100%;
        font-size: 1em;
    }

    .article-card .right .description span.title{
        font-size: .9em;
        font-weight: 700;
    }

    .article-card .right .description .cart-text{
        font-size: .8em;
    }

    .article-card .right .author .btn-area{
        z-index:100;
        /* margin-top: 0px; */
    }

    div.social-networks{
        display: none;
        transform: translate(0px,215px);
        width: 300px;
        height: 75px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        justify-items: left;
    }

    div.social-networks .social-info {
        margin-left:25px;
    }

    div.social-networks .social-info span{
        font-size: .8em;
    }
    
}
