
:root {
    --primary-font: "Manrope";
    --primary-color: hsl(217, 19%, 35%);
    --secondary-color: hsl(214, 17%, 51%);
    --tertiary-color: hsl(212, 23%, 69%);
    --quaternary-color: hsl(210, 46%, 95%);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Marope",sans-serif;
    background-color: var(--quaternary-color);
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
}
div.card-container{
    border:1px solid rgba(0, 0, 0, 0.13);
    box-shadow: 0 0 30px 10px hsla(0, 0%, 0%, 0.13);
    border-radius: 5px;
    display: inline-block;
    width: 720px;
    height: 250px;
    display:flex;
    overflow: hidden;
    /* margin:auto; */
}

div.left-container{
    width: 40%;
    height: 100%;
}

div.left-container img{
    width: 100%;
    height: inherit;
}
